* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-family: 'Kanit', sans-serif;
}

nav{
    height: 70px;
    background-color: #063247;
}

nav label {
    font-size: 24px;
    font-weight: bold;
    padding-left: 70px;
    line-height: 70px;
    color: #fff;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    font-size: 20px;
    background-color: #063247;
    line-height: 70px;
}

/* Hover เมนู */
nav ul li a:hover{
    color: #23dbdb;
}

/* เมื่อมีการวางเมาส์บน li (เมนูหลัก) ให้ไปเรียกแสดงผล ul (เมนูย่อย ) */
nav ul li:hover  > ul {
    visibility: visible;
    opacity: 1;
    transition: 0.3s linear;
}

/* เมนูย่อยชั้นที่ 1 */
nav ul ul {
    position: absolute;
    top: 70px;
    border-top: 3px solid #23dbdb;
    /* display: none; ซ่อนเมนูย่อย */
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

nav ul ul li{
    width: 150px;
    position: relative;
    display: list-item;
}

nav ul ul li a{
    line-height: 50px;
}

/** เมนูชั้นที่ 3 */
nav ul ul ul{
    border-top: none;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

/* จัดตำแหน่ง icon ให้อยู่ด้านขวาของกล่อง */
nav ul ul li a i{
    margin-left: 45px;
}

/* เขียนตกแต่งส่วนของ Slide Show */
div.slideshow {
    position: relative;
    background-size: cover;
    background-position: center;
}

div.slideshow i {
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 40px;
    color: #fff;
}

/* แก้ไขขอบภาพสไลด์ */
.flexslider{
    border: 0px;
}

.flexslider .slides img{
    height: 90vh;
}

/* เขียนตกแต่งส่วนของ Gallery */
h1{
    font-size: 50px;
    padding-left: 70px;
    text-align: center;
}

div.gallery{
    margin-top: 40px;
    overflow: hidden; /* ครอบเนื้อหาทั้งหมดไว้ ไม่ให้เนื้อหาอื่นๆ เข้ามาซ้อนทับ */
}

div.row{
    overflow: hidden; /* ครอบเนื้อหาทั้งหมดไว้ ไม่ให้เนื้อหาอื่นๆ เข้ามาซ้อนทับ */
    padding-left: 70px;
    padding-right: 70px;
}

div.col{
    float: left;
    width: 23%;
    margin: 10px;
}

div.col img {
    width: 100%;
}

/* ตกแต่งส่วนของ footer */
footer{
    background: grey;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}